{% extends 'base.html.twig' %}

{% block body %}


<h1>Modular Synth is just amazing ))</h1>

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Products</a>
        </li>
        <li>
            <a href="{{ path('modul_index') }}">All Modules ))</a>
        </li>
        <li>
            <a href="{{ path('rack_index') }}">All Racks</a>
        </li>



    </ul>


{% endblock %}
