# IDE / editor files
.idea/
*.iml
/.vscode/

# OS files
.DS_Store
Thumbs.db

# Symfony files
/var/
/bin/
/public/bundles/
/config/secrets/prod/prod.decrypt.private.php
/symfony.lock

# Environment files
.env
.env.local
.env.*.local
.env.dev
.env.test

# PHPUnit
/phpunit.xml
/.phpunit.cache/
