{% extends 'base.html.twig' %}

{% block body %}

    <h2>Everything about modules ))</h2>

    <a href="{{ path('home_index') }}">Home</a>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price €</th>
        </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
                <td>{{ module.name }}</td>
                <td>{{ module.description }}</td>
                <td>{{ module.price }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}

