{% extends 'base.html.twig' %}

{% block body %}

    <h3>Everything about Racks ))</h3>

    <a href="{{ path('home_index') }}">Home</a>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for rack in racks %}
            <tr>
                <td>{{ rack.rackName }}</td>
                <td>{{ rack.description }}</td>
                <td>{{ rack.rackPrice }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
